.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: #ee7cbb;
}

.form{
    width: 340px;
    height: 450px;
    background: #9ed6dc;
    border-radius: 8px;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-shadow: 0 0 40px -10px #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    margin: 10px 0px;
    padding-bottom: 10px;
    width: 180px;
    color: #916ff9;
    border-bottom: 3px solid #A1F96F;
}

p::before{
    content: attr(type);
    display: block;
    margin: 5px 2px;
    font-size: 14px;
    color: #3b3eda;
}

input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #f9d06f;
    background: none;
}

::placeholder{
    color: #497d88;
}

input:focus{
    border-bottom: 2px solid;
    outline: none;
    color: #497d88;
}

button{
    border-radius: 20px;
    padding: 10px;
    color: white;
    background: #9324c6;
}

h1{
    text-align: center;
}